:root {
  --header-font: "Gabarito";
  --text-font: "Poppins";
}
h1 {
  font-family: var(--header-font);
  font-size: 64px;
  font-weight: 600;
  margin: 20px;
}
h2 {
  font-family: var(--text-font);
  margin: 10px 0px;
}

h3 {
  font-size: 28px;
  font-weight: 600;
}
p,
h3 {
  font-family: var(--text-font);
}
header {
  color: white;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/heidelberg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0;
}

header a {
  margin: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.info-button {
  background-color: white;
  padding: 12px 18px;
  border-radius: 20px;
  text-decoration: none;
  font-family: var(--text-font);
  color: rgb(29, 29, 29);
}

.intro-section {
  padding: 50px 0px;
  background-color: rgb(235, 233, 233);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.intro-picture {
  display: block;
  margin: 0 auto;
  width: 380px;
  max-width: 100%;
}

.intro-text {
  line-height: 32px;
  margin-top: 0;
  padding-right: 60px;
}

.restaurants {
  margin-top: 60px;
}

.places-in-HD {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}

.favourite-place {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.info-section {
  width: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(../images/heidelberg-far.jpg);
  filter: grayscale(20%);
  background-size: cover;
  padding: 20px 0px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-gap: 32px;
}

.info-section h2 {
  font-size: 20px;
}

.info-section p {
  font-size: 14px;
}

.info-block {
  padding-left: 20px;
}

.info-block a {
  text-decoration: none;
  color: black;
}

.info-block a:hover {
  color: rgb(105, 98, 98);
}

li {
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  line-height: 28px;
}

ul {
  padding-inline-start: 6px;
}
@media (max-width: 900px) {
  header {
    padding: 30px 0px;
  }

  h1 {
    font-size: 44px;
    margin: 0;
  }
  h3 {
    font-size: 24px;
  }

  .intro-section {
    padding: 0px;
    grid-template-columns: 1fr;
    padding-left: 10px;
    line-height: 20px;
  }

  .intro-text {
    padding-right: 10px;
  }

  .intro-picture {
    display: none;
  }

  .info-section {
    grid-template-columns: 1fr;
  }
}
